@charset "UTF-8";
@import "../../lib/ionic/css/ionic.css";
html { overflow: auto; }
/*button*/
.button-fab { border-radius: 50%; overflow: hidden; position: relative; padding: 3px; display: inline-block; }
/*icon Size*/
.w-12 { font-size: 12px }
.w-13 { font-size: 13px }
.w-14 { font-size: 14px }
.w-15 { font-size: 15px }
.w-16 { font-size: 16px }
.w-17 { font-size: 17px }
.w-18 { font-size: 18px }
.w-19 { font-size: 19px }
.w-20 { font-size: 20px }
.w-21 { font-size: 21px }
.w-22 { font-size: 22px }
.w-23 { font-size: 23px }
.w-24 { font-size: 24px }
.w-25 { font-size: 25px }
.w-26 { font-size: 26px }
.w-27 { font-size: 27px }
.w-28 { font-size: 28px }
.w-29 { font-size: 29px }
/*input*/
.w-input-wrapper {
    position: relative;
}
.w-input-wrapper .has-floating-label .input-clear {
    top: 42px;
}
.w-input {
    height: 50px;
    padding: 13px 15px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
   border:none;
}
.w-input:after{content:"";position: absolute;background-color: #ddd;display: block;left: 0;bottom:0px;right: auto;height: 1px;width:100%;
	    transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;transform: scaleY(0.5);-webkit-transform: scaleY(0.5);}
.w-input .input-label {
    font-size: 14px;
    line-height: 20px;
}
.w-input input {
    font-size: 14px;
    border: 0px;
}
.w-input .input-label{
	width: auto;
    padding-right: 20px;
}
.input-clear {
    position: absolute;
    top: 14px;
    right: 9px;
    z-index: 3;
    width: 24px;
    height: 24px;
    color:#cccccc;
    visibility: hidden;
}
.active {
    visibility: visible;
}
.item-floating-label {
    height: 75px;
    background: #FFF;
}
.item-floating-label .input-label {
    padding-top: 2px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.item-input-inset  .button-hide{
	display: none;
}
.item-input-inset form{
	width: 100%;
}
/*search*/

/*raido*/
.w-radio-input { display: none; }
.w-radio-label { display: inline-block; background: none; border: none; }
/*checkbox*/
.w-checkbox input[type=checkbox] {
    opacity: 0;;
}
/*cell*/
.w-cells {
    margin: 10px 0;
    position: relative;
    background-color: #FFF;
}
.w-cells .row {
    position: relative;
    margin: 0;
    padding: 0;
}
.w-cells .col {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.w-cells .hairline-top:before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.w-cells .hairline-bottom:after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    left: 0;
    bottom: 0;
    right: auto;
    height: 1px;
    width: 100%;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.w-cells .hairline-left:before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 100%;
    width: 1px;
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
}
/*scroll*/
.w-scroll {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.pull-to-refresh-layer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    color: #aaaaaa;
}
.pull-to-refresh-layer .preloader {
    visibility: hidden;
    width: 20px;
    height: 20px;
    animation: preloader-spin 1s steps(12, end) infinite;
}
.pull-to-refresh-layer .preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#6c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.pull-to-refresh-layer .pull-to-refresh-arrow {
    width: 20px;
    height: 20px;
    background: no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 40'><polygon points='9,22 9,0 17,0 17,22 26,22 13.5,40 0,22' fill='#8c8c8c'/></svg>");
    background-size: 10.4px 16px;
    z-index: 10;
    transform: rotate(0deg) translate3d(0, 0, 0);
    transition-duration: 300ms;
    margin-left: -20px;
}
.refreshing .pull-to-refresh-arrow {
    visibility: hidden;
    transition-duration: 0ms;
}
.refreshing .preloader {
    visibility: visible;
}
.pull-up .pull-to-refresh-arrow {
    transform: rotate(180deg) translate3d(0, 0, 0);
}
.w-scroll .scroll-inner {
    position: absolute;
    top: 40px;
    width: 100%;
    transition-duration: 300ms;
}
.label-down, .label-up, .label-refresh {
    display: none;
    text-align: center;
}
.touching .scroll-inner {
    transition-duration: 0ms;
}
.pull-down .label-down,
.pull-up .label-up,
.refreshing .label-refresh {
    display: block;
    width: 5.5em;
}
.pull-to-refresh-layer {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*底部*/
.infinite-layer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
}
.infinite-preloader {
    width: 20px;
    height: 20px;
    animation: preloader-spin 1s steps(12, end) infinite;
}
.infinite-preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#6c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.label-loading {
    display: block;
    width: 5.5em;
    text-align: center;
}
@keyframes preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}
/*badge*/
.w-badge {
    display: inline-block;
    padding: 3px 6px;
    height: 18px;
    z-index: 12;
    border-radius: 20px;
    /* background-color: #ea5a49;*/
    text-align: center;
}
.w-badge-num {
    width: 100%;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #FFF;
}
/*ActionSheet*/
.action-sheet-backdrop .action-sheet-group {
    border-radius: 8px;
}
.action-sheet-backdrop .action-sheet-title {
    font-size: 14px;
    padding: 15px;
}
.action-sheet-backdrop .action-sheet-option {
    font-size: 16px;
    border: transparent;
}
.action-sheet-backdrop .button {
    min-height: 44px;
    font-size: 16px;
}
.hairline-top:before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.hairline-bottom:after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    left: 0;
    top: atuo;
    bottom: 0;
    right: auto;
    height: 1px;
    width: 100%;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
/*buttonbar*/
  .w-button-bar {
    margin: 10px 0;
	}
   .w-button-bar .button-small {
      font-size: 12px;
      line-height: 28px;
    }

   .w-button-bar .button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius:5px;
    }

   .w-button-bar .button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius:5px;
    }